# ==================================
# CẤU HÌNH SERVER
# ==================================
PORT=5000
NODE_ENV=development

# ==================================
# KẾT NỐI CƠ SỞ DỮ LIỆU
# ==================================
MONGO_URI=mongodb+srv://mythanhhuynh1999_db_user:EGuBWUDwvChA9fK9@mythanh.53jzgdw.mongodb.net/?appName=mythanh
# Ví dụ MongoDB Atlas:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/labor_connect

# ==================================
# BẢO MẬT JWT
# ==================================
JWT_SECRET=MyThanh@2026
JWT_EXPIRES_IN=7d

# ==================================
# CLOUDINARY (Upload ảnh Logo/Avatar)
# ==================================
CLOUDINARY_CLOUD_NAME=dkstrl7ph
CLOUDINARY_API_KEY=359447464667149
CLOUDINARY_API_SECRET=MEA_MStjSf2J8A9c5_XomK3O1TU

# ==================================
# FRONTEND URL (CORS)
# ==================================
CLIENT_URL=http://localhost:3000
